@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
}
p {
    text-align: center;
    color: white;
    margin-top: 1rem;
}
h1 {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
    margin-bottom: 2rem;
    padding-left: 8rem;
    padding-right: 8rem;
    border: 2px solid black;
    border-radius: 30px;
    font-family: Garamond, serif;
}

/* NAV */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    display:block;
    height: 100%;
    width: 15rem;
    background-color: beige;
    text-transform: uppercase;
    z-index: 100;
}
.nav a:link {
    text-decoration: none;
    color: black;
}
.Logo {
    position: relative;
    top: 1.75rem;
    left: 1.5rem;
    padding: 10px;
    font-size: 30px;
    border: 3px solid black;
    border-radius: 15px;
    background-color: rgb(27, 192, 192);
}
.Logo:hover {
    border-radius: 50px;
    color: aqua;
    background-color:darkgray;
    transition: all 1.75s;
}
.Logo a:active, a:visited {
    color: black;
}
.nav-bar {
    margin-top: 3em;
    margin-left: 2rem;
    font-size: 22px;
}
.list-hover {
    font-size: 30px;
}
.list-hover:hover {
    list-style-type: disc;
    text-transform: uppercase;
    font-family: "Yatra One", sans-serif;
}
.nav-bar ul li .dropbox {
    position: absolute;
    display: none;
    width: 13rem;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    background-color: #8ea0ad;
    padding: 5px 5px;
    z-index: 101;
}
.nav-bar ul li:hover .dropbox {
    display: block;
}
.nav-bar ul li .dropbox li {
    display: block;
    position: relative;
    cursor: pointer;
}
.nav-bar ul li .dropbox li::after {
    content: '►';
    position: absolute;
    display: inline-block;
    left: 0;
    transition: 0.25s ease-in-out;
    transform: scaleX(0);
}
.nav-bar ul li .dropbox li:hover::after {
    transform: scaleX(1);
}

/* IMAGE MAP */
#windows img, #mobile img {
    display: block;
    margin: 0 auto; 
    margin-top: 10vh;
    border: 6px groove black;
}
#mobile {
    display: none;
}
#windows {
    display: block;
    margin: 0 auto;
    margin-top: 200px;
    border-radius: 20px;
}

/* TABLE */
.table-container {
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
}
table {
    width: 100%;
}
table, td, th{ 
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    padding-top: 4px;
    padding-bottom: 4px;
    
}
.h:hover {
    background-color: rgb(81, 102, 150);
    color: white;
    transition: all 1s;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}

/* LIST */
.list-container {
    margin-left: 25%;
}
.list-container h2 {
    margin-left: 22rem;
}
ol {
    font-size: 24px;
}
ul {
    font-size: 24px;
}
img {
    border: 2px groove black;
}
.list-container ol img:hover {
    border-radius: 50px;
    transition: 0.5s ease-in-out;
}
/* BOOKMARK */
.bookmark {
    text-align: center;
    width: 60rem;
    height: 245rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    box-shadow: 8px 6px 20px black;
    border-radius: 25px;
}
.bookmark h2 {
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: "Ubuntu", sans-serif;
}
.bookmark pre {
    margin-top: 3rem;
    font-size: 16px;
}
#one-thing::after {
    content: 'One Direction';
    position: relative;
    display: block;
    margin-top: -0.25rem;
    font-size: 12px;    
}
#yoasobi::after {
    content: 'yoasobi';
    position: relative;
    display: block;
    margin-top: -0.7rem;
    font-size: 14px;
}
#karera::after {
    content: 'bini';
    position: relative;
    display: block;
    margin-top: -0.45rem;
    font-size: 16px;
}


@media screen and (max-device-width: 400px) {
    * {
        box-sizing: border-box;
    }
    h1 {
        font-size: 22px;
        max-width: fit-content; 
        margin-left: auto;
        margin-right: auto;
        margin-top: 8rem;
        margin-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        border: 2px solid black;
        border-radius: 20px;
        font-family: Garamond, serif;
    }

    /*                               NAV                                 */
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        display:flex;
        justify-content: space-around;  
        width: 100% ;
        height: 100px;
        background-color: beige;
        z-index: 100;
        transition: top 0.3s;
    }
    .nav a:link {
        text-decoration: none;
        color: black;
    }
    .Logo {
        position: absolute;
        top: 1em;  
        left: 1rem;
        padding: 1spx;
        font-size: 14px;
        width: 100px;
        height: 40px;
        border: 3px solid black;
        border-radius: 15px;
        background-color: rgb(27, 192, 192);
    }
    .Logo:hover {
        border-radius: 50px;
        color: aqua;
        background-color:darkgray;
        transition: all 1.75s;
    }
    .Logo a:active, a:visited {
        color: black;
    }
    .list-hover {
        font-size: 16px;
    }
    .list-hover:hover {
        list-style-type: disc;
        text-transform: uppercase;
        font-family: "Yatra One", sans-serif;
    }
    .nav-bar {
            position: absolute;
            top: -3.5rem;
            left: 7rem;
    }
    .nav-bar ul {
        font-size: 16px;
    }
    .nav-bar ul li .dropbox {
        position: absolute;
        display: none;
        width: 10rem;
        line-height: 20px;
        text-align: center;
        border-radius: 6px;
        background-color: #8ea0ad;
        padding: 5px 5px;
        z-index: 101;
    }
    .nav-bar ul li:hover .dropbox {
        display: block;
    }
    .nav-bar ul li .dropbox li {
        display: block;
        position: relative;
        cursor: pointer;
    }
    .nav-bar ul li .dropbox li::after {
        content: '►';
        position: absolute;
        display: inline-block;
        left: 0;
        transition: 0.25s ease-in-out;
        transform: scaleX(0);
    }
    .nav-bar ul li .dropbox li:hover::after {
        transform: scaleX(1);
    }
    #li-bookmark::after {
        content: '▼';
        position: absolute;
        font-size: 12px;
        transition: 0.3s ease-in-out;
        transform: scaleY(0); 
    }
    #li-bookmark:hover::after {
        transform: scaleY(1);
    }

    /*                              IMAGE MAP                                */ 
    .imagemap-container img {
        width: 320px;
        content: url(imgmappics/menumobile.jpg);
        border: 3px groove black;
        display: block;
        margin: 0 auto;
        margin-top: 10vh;
        margin-left: 1.5rem;
    }
    #mobile {
        display: flex;
        margin-top: 250px;
    }
    #windows {
        display: none;
    }

    /*                              TABLE                                */
    .table-container {
        margin: auto;
        width: 100%;    
        padding: 0;
    }
    table {
        width: 100%;
    }
    table, td, th{ 
        border: 1px solid black;
        border-collapse: collapse;
        font-size: 12px;
    }
    td {
        padding: 0;
        
    }
    .h:hover {
        background-color: rgb(81, 102, 150);
        color: white;
        transition: all 1s;
    }
    .right {
        text-align: right;
    }
    .center {
        text-align: center;
    }
    
    /*                              LIST                                */
    .list-container {
        margin-left: 5rem;
    }
    .list-container h2 {
        margin-left: 22rem;
    }
    ol {
        font-size: 18px;
    }
    ul {
        font-size: 18px;
    }
    ul img {
        width: 12rem;
        border: 2px groove black;
    }
    ul img:hover {
        border-radius: 50px;
        border: 3px solid gray;
        transition: all 1s;
    }

    /*                                 BOOKMARK                           */
    .bookmark {
        text-align: center;
        width: 22rem;
        height: 160rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem;
        box-shadow: 8px 6px 20px black;
        border-radius: 15px;
    }
    .bookmark h2 {
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
        font-family: "Ubuntu", sans-serif;
    }
    .bookmark pre {
        margin-top: 3rem;
        font-size: 10px;
    }
    #one-thing::after {
        content: 'One Direction';
        position: relative;
        display: block;
        margin-top: -0.25rem;
        font-size: 8px;    
    }
    #yoasobi::after {
        content: 'yoasobi';
        position: relative;
        display: block;
        margin-top: -0.5rem;
        font-size: 10px;
    }
    #karera::after {
        content: 'bini';
        position: relative;
        display: block;
        margin-top: -0.45rem;
        font-size: 12px;
    }
}

